@use "../base/variables" as vars;

#hero {
  position: relative;
  height: 90dvh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: vars.$color-header-bg;
  color: vars.$color-white;
  z-index: 1;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  pointer-events: none;
}

.hero-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.225);
  transition: background-color 0.3s ease;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.hero-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-content {
  text-align: center;
  max-width: 700px;
  padding: 0 1.5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;

    span {
      font-weight: 300;
      opacity: 0.8;
      margin-right: 0.5rem;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    color: vars.$color-light;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 6rem;

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 2px;
      background-color: vars.$color-light;
      left: 0;
      top: 1.5rem;
    }
  }

  p {
    font-size: 1.125rem;
    color: vars.$color-light;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: left;
  }

  .btn {
    background-color: vars.$color-button-bg;
    color: vars.$color-light;
    padding: vars.$button-padding;
    border: 1px solid vars.$color-button-border;
    border-radius: vars.$border-radius;
    font-weight: vars.$font-weight-regular;
    font-size: vars.$font-size-nav;
    backdrop-filter: vars.$backdrop-blur-button;
    transition: background-color vars.$transition-default,
      border-color vars.$transition-default, transform vars.$transition-fast;

    &:hover {
      background-color: vars.$color-button-bg-hover;
      border-color: vars.$color-button-border-hover;
      color: vars.$color-white;
      transform: scale(1.04);
    }
  }
}

.hero-divider {
  display: block;
  position: absolute;
  bottom: -2.5px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  pointer-events: none;
  user-select: none;
  object-fit: cover;
}

:root {
  --radius-1: 70%;
  --radius-2: 30%;
  --radius-3: 30%;
  --radius-4: 70%;
  --radius-5: 60%;
  --radius-6: 40%;
  --radius-7: 60%;
  --radius-8: 40%;
}

.hero-blob {
  width: 400px;
  height: 400px;
  border-radius: var(--radius-1) var(--radius-2) var(--radius-3) var(--radius-4) /
    var(--radius-5) var(--radius-6) var(--radius-7) var(--radius-8);
  background-color: vars.$color-button-bg;
  border: 1px solid vars.$color-button-border;
  font-weight: vars.$font-weight-regular;
  font-size: vars.$font-size-nav;
  backdrop-filter: blur(2.5px);
  transition: background-color vars.$transition-default,
    border-color vars.$transition-default, transform vars.$transition-fast;
  overflow: hidden;
  display: flex;
  align-items: end;
  justify-content: center;
  animation: blob-animation 8s infinite ease-in-out;

  &:hover {
    background-color: vars.$color-button-bg-hover;
    border-color: vars.$color-button-border-hover;
    color: vars.$color-white;
  }

  img {
    width: auto;
    height: 130%;
    object-fit: cover;
    filter: drop-shadow(-25px 25px 5px hsla(0, 0%, 0%, 0.6));
    filter: grayscale(1);
  }
}

@keyframes blob-animation {
  0%,
  100% {
    border-radius: var(--radius-1) var(--radius-2) var(--radius-3)
      var(--radius-4) / var(--radius-5) var(--radius-6) var(--radius-7)
      var(--radius-8);
  }
  50% {
    border-radius: var(--radius-4) var(--radius-3) var(--radius-2)
      var(--radius-1) / var(--radius-8) var(--radius-7) var(--radius-6)
      var(--radius-5);
  }
  25% {
    border-radius: var(--radius-2) var(--radius-1) var(--radius-4)
      var(--radius-3) / var(--radius-6) var(--radius-5) var(--radius-8)
      var(--radius-7);
  }
}

@media screen and (max-width: 768px) {
  .hero-header {
    flex-direction: column-reverse;
    padding-bottom: 3rem;
  }
}
