.intro {
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  animation: slideOut 1s ease-in-out 2.25s forwards;
  opacity: 1;
  height: 100lvh;
  width: 100%;

  .container {
    h1 {
      font-size: 2.5rem;

      span {
        display: inline-block;
        opacity: 1;
        filter: blur(0);
      }

      span:nth-child(1) {
        font-weight: 400;
        animation: fadeText 0.5s ease-in-out 1.35s forwards;
        margin-right: 0.5rem;
      }
      span:nth-child(2) {
        font-weight: 400;
        animation: fadeText 0.5s ease-in-out 1.4s forwards;
        margin-right: 1.25rem;
      }
      span:nth-child(3) {
        font-weight: 100;
        animation: fadeText 0.5s ease-in-out 1.5s forwards;
      }
    }
  }
}

@keyframes fadeText {
  100% {
    opacity: 0;
  }
}

@keyframes slideOut {
  100% {
    opacity: 0;
  }
}
